/* FONT SIZES */
.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-900 {
  font-size: var(--fs-900);
}

/* FONT WEIGHTS */
.fw-thin {
  font-weight: var(--fw-100);
}
.fw-light {
  font-weight: var(--fw-300);
}
.fw-regular {
  font-weight: var(--fw-400);
}
.fw-semibold {
  font-weight: var(--fw-600);
}
.fw-bold {
  font-weight: var(--fw-700);
}
.italic {
  font-style: italic;
}

/* FONT FAMILIES */
.ff-primary {
  font-family: var(--ff-primary);
}
.ff-heading {
  font-family: var(--ff-secondary);
}

/* COLORS */
.text-primary-400 {
  color: var(--clr-primary-400);
}
.text-primary-300 {
  color: var(--clr-primary-300);
}
.bg-primary-900 {
  background-color: var(--clr-primary-900);
}
.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-neutral-400 {
  color: var(--clr-neutral-400);
}
.text-neutral-500 {
  color: var(--clr-neutral-500);
}
.text-neutral-900 {
  color: var(--clr-neutral-900);
}

/* TEXT ALIGN */
.text-align-left {
  text-align: start;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: end;
}

.text-underline {
  text-decoration: underline;
}

.br-1 {
  border-radius: var(--br-1);
}

.push-right {
  margin-left: auto;
}
.push-left {
  margin-right: auto;
}
.push-down {
  margin-top: auto;
}

/* FLEXBOX */
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}
.justify-stretch {
  justify-content: stretch;
}
.justify-items-center {
  justify-items: center;
}
justify-items-stretch {
  justify-items: stretch;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}
.align-content-center {
  align-content: center;
}
.place-content-center {
  place-content: center;
}

/* GRID */
.grid {
  display: grid;
}

/* Gap */
.gap-1 {
  gap: var(--gap-1);
}
.gap-2 {
  gap: var(--gap-2);
}
.gap-3 {
  gap: var(--gap-3);
}
.gap-4 {
  gap: var(--gap-4);
}
.gap-5 {
  gap: var(--gap-5);
}
.gap-6 {
  gap: var(--gap-6);
}
.gap-7 {
  gap: var(--gap-7);
}
.gap-8 {
  gap: var(--gap-8);
}
.gap-9 {
  gap: var(--gap-9);
}
.gap-10 {
  gap: var(--gap-10);
}

.mx-auto {
  margin-inline: auto;
}

.pblock-12 {
  padding-block: 0.75rem;
}
.pblock-16 {
  padding-block: 1rem;
}
.pinline-12 {
  padding-inline: 0.75rem;
}
.pinline-16 {
  padding-inline: 1rem;
}

.h-full {
  height: 100%;
}