:root {
  /* Step -1: 12px → 14px */
  --step--1: clamp(0.75rem, 0.6813rem + 0.25vw, 0.875rem);

  /* Step 0: 14px → 16px */
  --step-0: clamp(0.875rem, 0.8063rem + 0.25vw, 1rem);

  /* Step 1: 16px → 20px */
  --step-1: clamp(1rem, 0.8625rem + 0.5vw, 1.25rem);

  /* Step 2: 24px → 24px */
  --step-2: clamp(1.5rem, 1.5rem + 0vw, 1.5rem);

  /* Step 3: 24px → 32px */
  --step-3: clamp(1.5rem, 1.225rem + 1vw, 2rem);

  /* Step 4: 28px → 40px */
  --step-4: clamp(1.75rem, 1.3375rem + 1.5vw, 2.5rem);

  /* Step 5: 36px → 48px */
  --step-5: clamp(2.25rem, 1.8375rem + 1.5vw, 3rem);

  --fs-300: var(--step--1);
  --fs-400: var(--step-0);
  --fs-500: var(--step-1);
  --fs-600: var(--step-2);
  --fs-700: var(--step-3);
  --fs-800: var(--step-4);
  --fs-900: var(--step-5);

  /* Fonts */
  --ff-primary: "Lato", sans-serif;
  --ff-secondary: "Source Serif 4", serif;

  /* FONT WEIGHTS */
  --fw-100: 100;
  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;

  /* Colors */
  --clr-primary-200: hsl(221, 33%, 80%);
  --clr-primary-300: hsl(220, 29%, 62%);
  --clr-primary-400: hsl(213, 59%, 56%);
  --clr-primary-900: hsl(201, 100%, 5%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-300: hsl(0, 2%, 82%); /* #d2d0d0 */
  --clr-neutral-400: hsl(208, 6%, 52%); /* #7d858c */
  --clr-neutral-500: hsl(208, 8%, 37%); /* #575f66 */
  --clr-neutral-900: hsl(0, 0%, 10%);

  --br-1: 0.25rem;

  --gap-1: 0.75rem;
  --gap-2: 1rem;
  --gap-3: 1.25rem;
  --gap-4: 1.5rem;
  --gap-5: 2rem;
  --gap-6: 2.5rem;
  --gap-7: 3rem;
  --gap-8: 3.5rem;
  --gap-9: 3.75rem;
  --gap-10: 5rem;
}
