.hero {
  padding-block: 3rem;
  p {
    max-width: 58ch;
  }

  .heroButtonContainer {
    @media screen and (width < 464px) {
      flex-direction: column;
    }
  }

  .heroImg {
    @media screen and (width > 800px) {
      max-width: 600px;
      margin-inline-start: auto;
    }
  }
}

.about {
  padding-block: 9.25rem 6.25rem;

  .cardContainer {
    .cardDescription {
      max-width: 34ch;
    }
  }
}

.teachers {
  display: grid;
  align-items: flex-start;
  gap: 3rem;
  padding-block: 6.25rem;

  @media screen and (width > 700px) {
    grid-template-columns: 1fr 1.5fr;
  }

  > * {
    min-width: 0;
  }

  p {
    max-width: 42ch;
  }

  .teachersSlider {
    .teachersSwiper {
      height: 100%;

      .swiperSlide {
        container-type: inline-size;
        padding: 1.5rem;

        border-radius: var(--br-1);

        &:first-child {
          background-color: #eaf6f6;

        }
        &:nth-child(2) {
          background-color: #f6eaea;

        }
        &:nth-child(3) {
          background-color: #f6f6ea;
        }
        &:nth-child(4) {
          background-color: #f6eaf6;
        }
        &:nth-child(5) {
          background-color: #eaf6ea;
        }

        > div {
          display: grid;
          gap: var(--gap-6);

          @container (width > 400px) {
            grid-template-columns: 1fr 1fr;
          }
        }

        .teacherImg {
          margin-block: auto;
          @container (width < 601px) {
            max-width: 300px;
            margin-inline: auto;
          }
          img {
            object-fit: cover;
          }
        }
      }
    }
  }
}

.testimonials {
  padding-block: 9rem;
  background: url(/src/assets/images/testimonial-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  
  > * {
    min-width: 0;
  }

  .student {
    justify-self: flex-end;

    .studentImg {
      max-width: 150px;
    }
  }
}

.resources {
  padding-block: 6.25rem;

  .resourcesImg {
    max-width: 500px;
    margin: 0 auto;
    @media screen and (width > 800px) {
      max-width: 400px;
      margin-inline-end: auto;
    }
  }
}

.contact {
  display: grid;
  gap: 5rem;
  padding-block: 6.25rem;

  .details {
    /* display: grid;
    grid-auto-flow: column; */

    .description {
      max-width: 60ch;
    }

    > div:nth-child(2) {
      @media screen and (width > 800px) {
        margin-inline-start: auto;
      }
    }
  }

  .map {
    width: 100%;
    height: 100%;
    border-radius: var(--br-1);
    overflow: hidden;

    iframe {
      width: 100%;
      height: 500px;
    }
  }
}

.cta {
  position: relative;
  z-index: 0;
  padding-block: 6.25rem;
  background: url(/src/assets/images/cta-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (width < 850px) {
    img {
      display: none;
    }
  }

  img:first-child {
    position: absolute;
    top: 0;
    right: 100px;
    z-index: -1;
  }
  img:nth-child(2) {
    position: absolute;
    bottom: 30px;
    left: 300px;
    z-index: -1;
  }
  img:nth-child(3) {
    position: absolute;
    top: 0;
    left: 100px;
    z-index: -1;
  }
  img:nth-child(4) {
    position: absolute;
    bottom: -100px;
    z-index: -1;
    right: 150px;
  }
}
