.primaryHeader {
    padding-block: 1rem;

    .navLink {
        color: var(--clr-neutral-900);
        text-decoration: none;

        &:hover,
        &:focus {
            color: var(--clr-primary-400);
        }

        &.active {
            color: var(--clr-primary-400);
            font-weight: var(--fw-bold);
        }
    }

    .primaryNavigation {
        display: none;

        @media screen and (width > 765px) {
            display: flex;
        }
    }

    .hamburger {
        display: block;

        @media screen and (width > 765px) {
            display: none;
        }
    }
}

div:has(> .primaryHeader) {
    border-block-end: 1px solid var(--clr-neutral-300);
}